<div class="card mb-4">
    <div class="card-header">
        <div>
            <h5>{{ comment.name }}</h5>
        </div>
    </div>

    <div class="card-body">

            {{ comment.comment }}

    </div>
    <div class="card-footer">
        <small>
            <i>
                <div>
                    <time>
                        {{ comment.created_at|date:"d.m.Y  H:i" }} Uhr
                    </time>
                </div>
                <div>
                    <a href="mailto:{{ comment.email }}">{{ comment.email }}</a>
                </div>
            </i>
        </small>
    </div>
</div>


