<footer class="bg-dark text-white section-padding">
    <div class="container d-flex justify-content-between flex-lg-row flex-column">

        <div>
            <h5>Navigation</h5>
            {% include "partials/_navigation_main.html" %}

        </div>
        <div>
            <h5>Rechtliches</h5>
            {% include "partials/_navigation_meta.html" %}

        </div>
        <div>
            <h5>Neue Posts</h5>
            {% include "partials/_navigation_latest_posts.html" %}               
        </div>
        <div>
            <h5>Autoren</h5>
            {% include "partials/_navigation_authors.html" %}               
        </div>
        <div>
            <h5>Kategorien</h5>
            {% include "partials/_navigation_categories.html" %}               
        </div>
    </div>
</footer>