{% extends "base.html" %}

{% block title %}
    {{ author.get_fullname|title }}
{% endblock %}


{% block content %}
    <div class="container section-padding">
        <div class="mb-5">
            <h1 class="display-1">Kategorie: {{ category.name|title }}</h1>
        </div>
        {% if posts %}
        <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5">
            {% for post in posts %}
                <div class="col">
                    {% include "blog/partials/_posts_item.html" %}
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>Keine Posts vorhanden</p>
        {% endif %}
        <hr>
        <button class="btn btn-primary back-link">Zurück</button>
    </div>

{% endblock %}