{% extends "base.html" %}

{% block title %}
    {{ post.title|title }}
{% endblock %}


{% block content %}
    <header class="image-header">
        <img class="image-header__image" src="{{ post.featured_image.image.url }}" alt="{{ post.featured_image.image.title }}">
    </header>
    <div class="section-padding">
        <div class="container">
            <div class="post-content">
                <div class="post">
                    <div class="mb-1">
                        <i>
                        <div>
                            <small>
                                <time><b>{{ post.created_at|date:"d.m.Y  H:i" }} Uhr</b></time>
                            </small>
                        </div>
                        <div>
                            <small>
                                <b>Autor: </b>
                                <a href="{% url "author-single-slug" slug=post.author.slug %}">{{ post.author.get_fullname }}</a>    
                            </small>
                        </div>
                        <div>
                            <small>
                                <b>Kategorien: </b>
                                {% for category in post.categories.all %}
                                    <a href="{% url "blog-category-slug" slug=category.slug %}">{{ category }}</a>  
                                {% endfor %}
                            </small>
                        </div>
                    </div>
                    </i>
                    
                    <h1 class="display-1">{{ post.title|title }}</h1>

                    {% autoescape off %}
                    <div class="mb-5">
                        {{ post.content }}
                    </div>
                    {% endautoescape %}
                </div>
                {% if post.allow_comments %}
                    {% if comments %}
                    <hr>
                    <div class="comments">
                        <h3 class="mb-3">Kommentare:</h3>
                        {% for comment in comments %}
                            {% include "blog/partials/_comment_item.html" %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <hr>
                    <div class="comment-form">
                        <h3 class="mb-3">Kommentar schreiben:</h3>
                        {% include "blog/partials/_comment_form.html" %}
                    </div>
                {% endif %}
                <hr>
                <button class="btn btn-primary back-link">Zurück</button>
            </div>

        </div>
    </div>
{% endblock %}