{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} - Sevo Blog
    </title>

    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block css_extern %}{% endblock %}
    {% block css_intern %}{% endblock %}
</head>
<body>
    {% include "partials/_navbar.html" %}
    {% block content %}{% endblock %}
    <footer>

        <div>
            <h3>Navigation</h3>
            {% include "partials/_navigation_main.html" %}
        </div>
        <div>
            <h3>Rechtliches</h3>
            {% include "partials/_navigation_meta.html" %}
        </div>
        <div>
            <h3>Kontakt</h3>
            
        </div>
    </footer>

    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block js_extern %}{% endblock %}
    {% block js_intern %}{% endblock %}
</body>
</html>